html{
    background-color: #2c2c2c;
    font-family: 'DM Sans';
}

.border-anim{
    animation: animate-rotate 4s linear infinite;
    width: 100%;
    height: 100%;
    background: conic-gradient(
        from var(--aa),
        #7d8570 0%,
        #98a08b 5%,
        transparent 5%,
        transparent 40%,
        #7d8570 100%
    );
}

@property --aa {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate-rotate {
    0% {
        --aa: 0deg;
    }
    100% {
        --aa: 360deg;
    }
    
}
.border-anim-course{
    animation: animate-rotate-course 4s linear infinite;
    width: 100%;
    height: 100%;
    background: conic-gradient(
        from var(--bb),
        var(--course-color) 0%,
        var(--course-color) 0.5%,
        transparent 0.5%,
        transparent 40%,
        var(--course-color) 100%
    );
}

.list-wrapper {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul li {
        position: relative;
        /* padding-left: 2em; */
        margin-bottom: 0.7em;
        font-size: 1.08em;
        color: #747b85;
        line-height: 1.5;
    }
    ul li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.1em;
        color: #7d8570;
        font-size: 1em;
        font-weight: bold;
        transition: color 0.2s;
    }
    ul li:hover::before {
        color: #4d5d77;
    }
    strong {
        font-weight: 600;
        color: #b1b6bf;
    }
}
.courseInfo{
    h3{
        color: #f1f1f1;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 12px;
        li{
            color: #9fa7b4;
            margin-bottom: 0;
        }
    }
}

@property --bb {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate-rotate-course {
    0% {
        --bb: 0deg;
    }
    100% {
        --bb: 360deg;
    }
}
